@model MyApp.WebUI.Models.User.RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<form asp-action="Register" asp-controller="User" method="post">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
                <h3>Welcome Dear Users</h3>
                <p>
                    This Example is for learning Basic Login and Registration Using ADO.NET in MVC.
                    <br />Hope this will boost your Knowledge.
                </p>
            </div>

            <div class="col-md-9 register-right">
                <ul class="nav nav-tabs nav-justified" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" asp-controller="User" asp-action="Register">
                            Register
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Login">
                            Login
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active">
                        <h3 class="register-heading">Register New User</h3>

                        <div class="row register-form">
                            <div class="col-md-6">

                                <div class="form-group m-2">
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name *" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>

                                <div class="form-group m-2">
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name *" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>

                                <div class="form-group m-2">
                                    <input asp-for="Email" class="form-control" type="email"
                                        placeholder="Your Email *" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">

                                <div class="m-2 input-group date" id="datepicker">
                                    <input asp-for="BirthDate" type="text" class="form-control" id="date" />
                                    <span class="input-group-append">
                                        <span class="input-group-text bg-light d-block">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </span>
                                </div>

                                <div class="form-group m-2">
                                    <input asp-for="Password" class="form-control" placeholder="Password *" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group m-2">
                                    <input asp-for="ConfirmPassword" class="form-control"
                                        placeholder="Confirm Password *" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>

                                <input type="submit" class="btnRegister" value="Register" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            console.log('Datepicker initialized');
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
}